.banner {
  width: 100%;
  margin-bottom: 150px;
  position: relative;
  &__text {
    width: 504px;
    position: absolute;
    top: 50%;
    left: 56.5%;
  }

  &__title {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  &__button {
    padding: 19px 26px 19px 26px;
    text-transform: capitalize;
    background-color: #ffffff;
    color: rgb(30, 40, 50);
    font-family: "Roboto";
    font-size: 29px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    border-radius: 5px;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      background: #2e2d2d;
      color: rgb(255, 255, 255);
      transition: 0.2s ease;
    }
  }
  &__image {
    width: 100%;
  }
}
